<a href="https://colab.research.google.com/github/Swapnilss53/Full-stack-data-science-PWSKILLS-/blob/main/20th_aug_python_basics_practice_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

String Based Assignment Problem

1. Write a program to reverse a string.

In [ ]:
string = "Hello World"

def reverse_string(string):
    reverse_string = string[::-1]
    print(reverse_string)

reverse_string(string)

dlroW olleH

2. Check if a string is a palindrome.

In [ ]:
string = "oyo"

def is_palindrome(string):
    reverse_string = string[::-1]

    if(string == reverse_string):
        print("string is palindrome")
    else:
        print("string is not palindrome")

is_palindrome(string)

string is palindrome

3. Convert a string to uppercase.

In [ ]:
string = "hello"

def convert_into_uppercase(string):
    upper_case_string = string.upper()
    print(upper_case_string)

convert_into_uppercase(string)

HELLO

4. Convert a string to lowercase.

In [ ]:
string = "HELLO"

def convert_into_lowercase(string):
    lower_case_string = string.lower()
    print(lower_case_string)

convert_into_lowercase(string)

hello

5. Count the number of vowels in a string.

In [ ]:
string = "helloooo"

def vowel_count(string):
    vowels = "aeiouAEIOU"
    count = 0

    for char in string:
        if char in vowels:
            count += 1

    print(count)

# calling a function
vowel_count(string)

5

6. Count the number of consonants in a string.

In [ ]:
string = "helloomn"

def consonants_count(string):
    consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
    count = 0

    for char in string:
        if char in consonants:
            count += 1

    print(count)

# calling a function
consonants_count(string)

5

7. Remove all whitespaces from a string.

In [ ]:
string = "Hello world form swapnil"

def remove_whitespace(string):
    string_without_white_space = string.replace(" ","")

    print(string_without_white_space)

# calling a function
remove_whitespace(string)

Helloworldformswapnil

8. Find the length of a string without using the `len()` function.

In [ ]:
string = "h p"
def length(string):
    count = 0
    for char in string:
        count += 1

    print(count)

# calling a function
length(string)

3

9. Check if a string contains a specific word.

In [ ]:
input_string = str(input("Enter the Sentence :="))
word = str(input("Enter a word :="))

def check_word(string,word):
    if word in input_string:
        print("The string conatins given word")
    else:
        print("The string does not conatin given word")

check_word(input_string,word)

The string conatins given word

10. Replace a word in a string with another word.

In [ ]:

def replace_word():
    input_string = str(input("Enter a sentence :="))
    to_replace = str(input("Enter the word to replace :="))
    replacement = str(input("Enter the replacement word :="))

    new_sentence = input_string.replace(to_replace,replacement)
    return "New sentence after replacement := "+new_sentence

replace_word()

'New sentence after replacement := Swapnil shinde shinde'

11. Count the occurrences of a word in a string.

In [ ]:
def count_word():
    input_string = str(input("Enter a string :="))
    word = str(input("the word to be counted :="))

    count = input_string.count(word)

    print("The count of word in the sentence = ",count)

# calling a function
count_word()

The count of word in the sentence =  0

12. Find the first occurrence of a word in a string.

In [ ]:
input_string = str(input("Enter a string := "))
word = str(input("Enter a word whose first occurance is needed := "))

#function for finding first occurance of the word
def first_occurance(input_string, word):
    index = input_string.find(word)

    return index

# calling a function and storing value in index variable
index = first_occurance(input_string, word)
print("The first occurance of word "+word+" is := ",index)

The first occurance of word a is :=  2

13. Find the last occurrence of a word in a string.

In [ ]:
input_string = str(input("Enter a string := "))
word = str(input("Enter a word whose last occurance is needed := "))

def last_occurance(input_string, word):
    index = input_string.rfind(word)

    return index

# calling a function and storing value in index variable
index = last_occurance(input_string, word)
print("The last occurance of word "+word+" is := ",index)

The last occurance of word s is :=  8

14. Split a string into a list of words.

In [ ]:
input_string = str(input("Enter a string := "))

def split_into_words(string):
    list_of_words = string.split()
    return list_of_words

print("list of splitted words := ",split_into_words(input_string))

list of splitted words :=  ['hello', 'world']

15. Join a list of words into a string.

In [ ]:
list_of_words = ['hello ','assignment ','checker ','is ','my ','assignment ','good!']

print('list of words after joining := '+''.join(list_of_words))

list of words after joining := hello assignment checker is my assignment good!

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [ ]:
string = "The learning is going very well and really liking this course"

new_string = string.replace(" ","_")

print("The string after replacing by _ is := ",new_string)

The string after replacing by _ is :=  The_learning_is_going_very_well_and_really_liking_this_course

17. Check if a string starts with a specific word or phrase.

In [ ]:
string = str(input("Enter a inut string :="))
word = str(input("Enter a word to check whether string start with that word := "))

if string.startswith(word):
    print("The string starts with word := ",word)
else:
    print("The string does not starts with := ",word)

18. Check if a string ends with a specific word or phrase.

In [ ]:
string = str(input("Enter a inut string :="))
word = str(input("Enter a word to check whether string end with that word := "))

if string.endswith(word):
    print("The string ends with word := ",word)
else:
    print("The string does not ends with := ",word)

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
string = str(input("Enter a inut string :="))

new_string = string.title()

print("Title case string := ",new_string)

20. Find the longest word in a string.

In [ ]:
string = str(input("Enter a inut string :="))

list_of_words = string.split()

longest_word = sorted(list_of_words, key = len)[-1]

print("Longest word in string is := ",longest_word)

Enter a inut string := hello swapnil shinde parashram

Longest word in string is :=  parashram

21. Find the shortest word in a string.

In [ ]:
string = str(input("Enter a input string :="))

list_of_words = string.split()

shortest_word = sorted(list_of_words, key = len)[0]

print("shortest word in string is := ",shortest_word)

Enter a inut string := hello swapnil shinde are

shortest word in string is :=  are

22. Reverse the order of words in a string.

In [ ]:
string = str(input("Enter a input string :="))

words = string.split()
reverse_words = words[::-1]
reverse_string = " ".join(reverse_words)
print(f"Reverse order of words in string := {reverse_string}")

Enter a input string := hello swapnil shinde

Reverse order of words in string := shinde swapnil hello

23. Check if a string is alphanumeric.

In [ ]:
string = str(input("Enter a input string :="))

if(string.isalnum()):
    print("The string is alphanumeric")
else:
    print("The string is not a alphanumeric")

Enter a input string := hello1236

The string is alphanumeric

24. Extract all digits from a string.

In [ ]:
string = str(input("Enter a string :="))

ans = []

for char in string:
    if char.isdigit():
        ans.append(int(char))

print("Extracted Numbers list is :=",ans)

Enter a string := hello7 adjaf7878dgsdi

Numbers list is := [7, 7, 8, 7, 8]

25. Extract all alphabets from a string.

In [ ]:
string = str(input("Enter a string :="))

ans = ""

for char in string:
    if char.isalpha():
        ans += char

print("Extracted Alphabate are:=",ans)

Enter a string := hello7 adjaf7878dgsdi

Extracted Alphabate list is := helloadjafdgsdi

26. Count the number of uppercase letters in a string.

In [ ]:
string = str(input("Enter a string :="))
count = 0

for char in string:
    if char.isupper():
        count += 1
print("The count of uppercase letter is := ",count)

Enter a string := HEllo pOLAQ

The count of uppercase letter is :=  6

27. Count the number of lowercase letters in a string.

In [ ]:
string = str(input("Enter a string :="))
count = 0

for char in string:
    if char.islower():
        count += 1
print("The count of lowercase letter is := ",count)

Enter a string := HEllo pOLAQ

The count of lowercase letter is :=  4

28. Swap the case of each character in a string.

In [ ]:
string = str(input("Enter a string :="))

swapped_string = string.swapcase()

print("The string after swapping case :=",swapped_string)

Enter a string := Hello Swapnil

The string after swapping case := hELLO sWAPNIL

29. Remove a specific word from a string.

In [ ]:
string = str(input("Enter a string :="))
print(string)
word = str(input("Enter a word you want to remove from string :="))

new_string = string.replace(word,"")

print(new_string)

Enter a string := Hello swanil suresh shinde

Hello swanil suresh shinde

Enter a word you want to remove from string := suresh

Hello swanil  shinde

30. Check if a string is a valid email address.

In [ ]:
import re
email = str(input("Enter an email :="))

regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'

if(re.fullmatch(regex,email)):
    print("Entered email is the valid email")
else:
    print("Entered email is not the valid email")

Enter an email := sdif@gmailcom

Entered email is not the valid email

31. Extract the username from an email address string.

In [ ]:
email = str(input("Enter an email :="))

username = email.split("@")[0]

print("The username is :=",username)

Enter an email := hello@gmail.com

The username is := hello

32. Extract the domain name from an email address string.

In [ ]:
email = str(input("Enter an email :="))

domain_name = email.split("@")[1]

print("The domain name is :=",domain_name)

Enter an email := hello@gmail.com

The domain name is := gmail.com

33. Replace multiple spaces in a string with a single space.

In [ ]:
string = "Hello   Everyone This is     is     going to    be fun"

string = re.sub("\s+", " ", string)

print("The string after removing multiple spaces is :",string)

The string after removing multiple spaces is : Hello Everyone This is is going to be fun

34. Check if a string is a valid URL.

In [ ]:
import re
regex = ("((http|https)://)(www.)?" +
             "[a-zA-Z0-9@:%._\\+~#?&//=]" +
             "{2,256}\\.[a-z]" +
             "{2,6}\\b([-a-zA-Z0-9@:%" +
             "._\\+~#?&//=]*)")
url = str(input("Enter a URL"))

if re.match(regex, url):
    print("Provided URL is valid")
else:
    print("Provided URL is invalid")

Enter a URL https://www.google.com/

Provided URL is valid

35. Extract the protocol (http or https) from a URL string.

In [ ]:
import re
url = 'https://pwskills.com/'

protocol = re.findall('(\\w+)://', url)

print("The protocol extracted from url is :=",protocol)

The protocol extracted from url is := ['https']

36. Find the frequency of each character in a string.

In [ ]:
string = "swapnil shinde"

freq = {}

for i in string:
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1

print("The frequncy of character =",freq)

The frequncy of character = {'s': 2, 'w': 1, 'a': 1, 'p': 1, 'n': 2, 'i': 2, 'l': 1, ' ': 1, 'h': 1, 'd': 1, 'e': 1}

37. Remove all punctuation from a string.

In [ ]:
import string
string1 = "hello, word!"
string1 = string1.translate(str.maketrans('','',string.punctuation))
print("The string after removing function is :=",string1)

The string after removing function is := hello word

38. Check if a string contains only digits.

In [ ]:
string = str(input("Enter a string :="))
if string.isdigit():
    print("The string contains only digits")
else:
    print("The string does not contains only digits")

Enter a string := 78522

The string only contains digits

39. Check if a string contains only alphabets.

In [ ]:
string = str(input("Enter a string :="))
if string.isalpha():
    print("The string contains only alphabets")
else:
    print("The string does not contains only albhabets")

Enter a string := sjfe4454

The string does not contains only albhabets

40. Convert a string to a list of characters.

In [ ]:
string = "hello world"

list_of_character = list(string)
print("The list of character = ",list_of_character)

The list of character =  ['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

41. Check if two strings are anagrams.

In [ ]:
str1 = "listen"
str2 = "silent"

if sorted(str1) == sorted(str2):
    print("The strings are an anagram")
else:
    print("The strings are not an anagram")

The strings are an anagram

42. Encode a string using a Caesar cipher.

In [ ]:
string = str(input("Enter a string :="))
shift = int(input("Enter a number by which you want to shift :="))
result = ""
for i in string:
    if i.isalpha():
        code = ord(i) + shift
        if i.isupper():
            if code > ord("Z"):
                code -= 26
            elif code < ord("A"):
                code += 26
        else:
            if code > ord("z"):
                code -= 26
            elif code < ord("a"):
                code += 26
        result += chr(code)
    else:
        result += i

print(result)

Enter a string := Hello world!
Enter a number by which you want to shift := 4

Lipps asvph!

43. Decode a Caesar cipher encoded string.

In [ ]:
string = str(input("Enter a Ceaser cipher :="))
shift = int(input("Enter a number by which you want to shift :="))
result = ""
for i in string:
    if i.isalpha():
        code = ord(i) - shift
        if i.isupper():
            if code < ord("A"):
                code += 26
            elif code > ord("Z"):
                code -= 26
        else:
            if code < ord("a"):
                code += 26
            elif code > ord("z"):
                code -= 26
        result += chr(code)
    else:
        result += i

print("Encoded string after decoding Ceaser cipher is :=",result)

Enter a Ceaser cipher := hello
Enter a number by which you want to shift := 6

Encoded string after decoding Ceaser cipher is := byffi

44. Find the most frequent word in a string.

In [ ]:
input_string = str(input("Enter a string := "))
l = input_string.split()
d = {}

for i in l:
    if i not in d.keys():
        d[i] = 0
    d[i] = d[i] + 1

max_value = max(d, key=d.get)
print("Most frequent word in a string := ",max_value)

Enter a string :=  hello swapnil shinde shinde

Most frequent word in a string :=  shinde

45. Find all unique words in a string.

In [ ]:
input_string = str(input("Enter a string := "))
l = input_string.split()
d = {}
unique = set()
for i in l:
    if i not in d.keys():
        d[i] = 0
    d[i] = d[i] + 1
    if d[i] == 1:
        unique.add(i)
    else:
        unique.discard(i)
unique = list(unique)
print("Most frequent word in a string := ",unique)

Enter a string :=  hello swapnil shinde shinde

Most frequent word in a string :=  ['hello', 'swapnil']

46. Count the number of syllables in a string.

In [ ]:
import re

def count_syllable(word):
    lowercase_word = word.lower()
    vowel = re.findall(r'[aeiouy]+', lowercase_word)
    return len(vowel)

#calling a function
count1 = count_syllable("syllable")
count2 = count_syllable("python")


print(f"{count1} is the number of syllables in string 'syllable'")
print(f"{count2} is the number of syllables in string 'python'")

3 is the number of syllables in string 'syllable'
2 is the number of syllables in string 'python'

47. Check if a string contains any special characters.

In [ ]:
import re

def check_special_character(word):

    special = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    check = special.search(word)

    return bool(check)

string1 = str(input("Enter a string:"))


# calling a function
check1 = check_special_character(string1)

#checking and printing whether the string contains speacial character
if(check1):
    print(f"{string1} containing special character")
else:
    print(f"{string1} does not containing special character")

swapnil@5656sd3549tji&* containing special character

48. Remove the nth word from a string.

In [ ]:
def remove_nth_word(string, n):
    words = string.split()
    if n >= 1 and n <= len(words):
        remove_word = words.pop(n - 1)
        return " ".join(words)
    else:
        return string

string1 = "hello everyone"
string2 = "this assignment is awesome"

ans1 = remove_nth_word(string1, 2)
ans2 = remove_nth_word(string2, 3)

print(f"string after removing 2nd word from {string1} is: {ans1} ")
print(f"string after removing 3rd word from {string2} is: {ans2} ")

string after removing 2nd word from hello everyone is: hello
string after removing 3rd word from this assignment is awesome is: this assignment awesome

49. Insert a word at the nth position in a string.

In [ ]:
def insert_at_nth(string,word, n):
    if 0 <= n <= len(string):
        words = string.split()
        part1 = string[:n]
        part2 = string[n:]

        return part1 + word + part2
    else:
        return string


string1 = "hello everyone"
string2 = "this assignment is awesome"
word1 = "is"
word2 = "pw"

ans1 =insert_at_nth(string1,word1, 6)
ans2 = insert_at_nth(string2,word2, 5)

print(f"string after inserting '{word1}' into '{string1}' at 6th position  is : {ans1}")
print(f"string after inserting '{word2}' into '{string2}' at 5th position is : {ans2}")

string after inserting 'is' into 'hello everyone' at 6th position  is : hello iseveryone
string after inserting 'pw' into 'this assignment is awesome' at 5th position is : this pwassignment is awesome

50. Convert a CSV string to a list of lists.

In [ ]:
def csv_to_list(csv_string):
    result = []

    rows = csv_string.split("\n")

    for row in rows:
        values = row.split(",")

        result.append(values)

    return result

# csv string
csv1 = "a,b,c,d \n e,f,g,h \n i,j,k,l"
# calling a function and passing csv string
list_of_list = csv_to_list(csv1)

print(f"convrted list os lists from csv string {csv1} is {list_of_list}")

convrted list os lists from csv string a,b,c,d
 e,f,g,h
 i,j,k,l is [['a', 'b', 'c', 'd '], [' e', 'f', 'g', 'h '], [' i', 'j', 'k', 'l']]

List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [ ]:
# using list comprehension to create list of numbers from 1 to 10
l1 = [i for i in range(1,11)]

# print the list
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [ ]:
# function to calculate length of list without using len() function
def cal_len(l):
    count = 0
    for i in l:
        count += 1

    return count


l1 = [1,2,3,4,5,6]
l2 = ["s","m"]

#calling function to calculate length
len1 = cal_len(l1)
len2 = cal_len(l2)

#printing the result
print(f"length of list is := {len1}")
print(f"length of list is := {len2}")

length of list is := 6
length of list is := 2

3. Append an element to the end of a list.

In [ ]:
# list l1 containing 4 elements
l1 = [1,2,7,8]

# printing list before appending an element
print(f"list before appending an element: {l1}")

# appending element at the end of the list l1
l1.append(6)


# printing list l1 this will print list with 5 elements as 1 element was appended at the end of list
print(f"The list after appending 1 element at end is: {l1}")

list before appending an element: [1, 2, 7, 8]
The list after appending 1 element at end is: [1, 2, 7, 8, 6]

4. Insert an element at a specific index in a list.

In [ ]:
# function to insert element at specific index
# .insert is a inbuilt function to insert element at specific index
def insert_at_sp_index(l,element,index):
    l.insert(index,element)

# lists
l1 = [2,3,4,8]
l2 = ['s','q','t','h']

# elements to be inserted
ele1 = 5
ele2 = 'c'

# calling a function
insert_at_sp_index(l1,ele1,2)
insert_at_sp_index(l2,ele2,0)

# printing the list after inserting elemets
print(f"After inserting an element '{ele1}' at index '2' the list is: {l1}")
print(f"After inserting an element '{ele2}' at index '0' the list is: {l2}")

After inserting an element '5' at index '2' the list is: [2, 3, 5, 4, 8]
After inserting an element 'c' at index '0' the list is: ['c', 's', 'q', 't', 'h']

5. Remove an element from a list by its value.

In [ ]:
# function to remove element from a list by its value.
# .remove() is a built in method to remove element from list with value.
def remove_ele_by_value(l,value):
    l.remove(value)

# lists
l1 = [6,8,1,4,2]
l2 = ['s','q','a','x']

# element to be removed from list
ele1 = 1
ele2 = 'q'

# calling a function
remove_ele_by_value(l1,ele1)
remove_ele_by_value(l2,ele2)

#printing the list after removing element by value
print(f"After removing the element from list with value '{ele1}' is: {l1}")
print(f"After removing the element from list with value '{ele2}' is: {l2}")

After removing the element from list with value '1' is: [6, 8, 4, 2]
After removing the element from list with value 'q' is: ['s', 'a', 'x']

6. Remove an element from a list by its index.

In [ ]:
# function to remove element from a list by its index.
# .pop() is a built in method to remove element from list with index.
def remove_ele_by_index(l,index):
    l.pop(index)

# lists
l1 = [6,8,1,4,2]
l2 = ['s','q','a','x']

# index to be removed from list
index1 = 3
index2 = 2

# calling a function
remove_ele_by_index(l1,index1)
remove_ele_by_index(l2,index2)

#printing the list after removing element by index
print(f"After removing the element from list with index '{index1}' is: {l1}")
print(f"After removing the element from list with index '{index2}' is: {l2}")

After removing the element from list with index '3' is: [6, 8, 1, 2]
After removing the element from list with index '2' is: ['s', 'q', 'x']

7. Check if an element exists in a list.

In [ ]:
#function to check element exist in list
def check_ele_in_list(l,ele):
    if ele in l:
        print(f"Element '{ele}' 'exist' in list {l}")
    else:
        print(f"Element '{ele}' 'does not exist' in list {l}")


# lists
list1 = [4,5,3,8,10]
list2 = ['s','a','x','c']

# element to be removed
ele1 = 8
ele2 = 45
ele3 = 'a'
ele4 = 'z'

#calling function

check_ele_in_list(list1,ele1)
check_ele_in_list(list1,ele2)
check_ele_in_list(list2,ele3)
check_ele_in_list(list2,ele4)

Element '8' 'exist' in list [4, 5, 3, 8, 10]
Element '45' 'does not exist' in list [4, 5, 3, 8, 10]
Element 'a' 'exist' in list ['s', 'a', 'x', 'c']
Element 'z' 'does not exist' in list ['s', 'a', 'x', 'c']

8. Find the index of the first occurrence of an element in a list

In [ ]:
# function to get index of the first occurance of an element.
# .index() is a built in method to get index of the occurance of an element in list.
def fisrt_occurance(l,ele):
    return l.index(ele)

# lists
l1 = [6,8,1,4,1,1,1]
l2 = ['s','q','a','x','q','q']

# element
ele1 = 1
ele2 = 'q'

# calling a function
index1 = fisrt_occurance(l1,ele1)
index2 = fisrt_occurance(l2,ele2)

#printing the index of the first occurrence of an element in a list
print(f"index of the first occurrence of an element '{ele1}' in a list '{l1}' is: {index1}")
print(f"index of the first occurrence of an element '{ele2}' in a list '{l2}' is: {index2}")

index of the first occurrence of an element '1' in a list '[6, 8, 1, 4, 1, 1, 1]' is: 2
index of the first occurrence of an element 'q' in a list '['s', 'q', 'a', 'x', 'q', 'q']' is: 1

9. Count the occurrences of an element in a list.

In [ ]:
# function to count occurance of element
# .count is a method to count the occurance of element in a list
def occurance(l,ele):
    return l.count(ele)

# lists
l1 = [6,8,1,4,1,1,1]
l2 = ['s','q','a','x','q','q']

# element
ele1 = 1
ele2 = 'q'

# calling a function
count1 = occurance(l1,ele1)
count2 = occurance(l2,ele2)

#printing the count of occurance of element in a list
print(f"occurance of element '{ele1}' in list {l1} is : {count1}")
print(f"occurance of element '{ele2}' in list {l2} is : {count2}")

occurance of element '1' in list [6, 8, 1, 4, 1, 1, 1] is : 4
occurance of element 'q' in list ['s', 'q', 'a', 'x', 'q', 'q'] is : 3

10. Reverse the order of elements in a list.

In [ ]:
# function to reverse the order of elements in list
#l[::-1] is python syntax to reverse the list
def reverse(l):
    return l[::-1]

# lists
l1 = [6,8,4,3,1]
l2 = ['s','x','p','z']

#calling a function
reverse_list1 = reverse(l1)
reverse_list2 = reverse(l2)

#printing the list in reverse order
print(f"Reverse order of list '{l1}' is '{reverse_list1}'")
print(f"Reverse order of list '{l2}' is '{reverse_list2}'")

Reverse order of list '[6, 8, 4, 3, 1]' is '[1, 3, 4, 8, 6]'
Reverse order of list '['s', 'x', 'p', 'z']' is '['z', 'p', 'x', 's']'

11. Sort a list in ascending order.

In [ ]:
# function to sort list in ascending order
def sort_asc(l):
    l.sort()
    return l

# lists
l1 = [6,8,4,3,1]
l2 = ['s','x','p','z']

#calling a function
sorted_list1 = sort_asc(l1)
sorted_list2 = sort_asc(l2)

#printing the sorted list in ascending order
print(f"Sorted list is '{sorted_list1}'")
print(f"Sorted list is '{sorted_list2}'")

Sorted list is '[1, 3, 4, 6, 8]'
Sorted list is '['p', 's', 'x', 'z']'

12. Sort a list in descending order.

In [ ]:
# function to sort list in descending order
def sort_des(l):
    l.sort(reverse=True)
    return l

# lists
l1 = [1, 3, 4, 6, 8]
l2 = ['s','x','p','z']

#calling a function
sorted_list1 = sort_des(l1)
sorted_list2 = sort_des(l2)

#printing the list in descending order
print(f"Sorted list in descending order is '{sorted_list1}'")
print(f"Sorted list is descending order is'{sorted_list2}'")

Sorted list in descending order is '[8, 6, 4, 3, 1]'
Sorted list is descending order is'['z', 'x', 's', 'p']'

13. Create a list of even numbers from 1 to 20.

In [ ]:
# function to create list of even number in the range
def list_even(start,end):
    return [i for i in range(start,end+1) if i % 2 == 0]

#printing even in range 1 to 20
print(f"Even in range 1 to 20 are {list_even(1,20)}")

Even in range 1 to 20 are [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [ ]:
# function to create list of even number in the range
def list_odd(start,end):
    return [i for i in range(start,end+1) if i % 2 != 0]

#printing even in range 1 to 20
print(f"Odd in range 1 to 20 are {list_odd(1,20)}")

Odd in range 1 to 20 are [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [ ]:
# Function to find sumation of all the elements present in list
def add_ele_list(list):
    return sum(list)

# lists
l1 = [2,4,8,9,3]
l2 = [5,1]

# Printing the sum of all elements
print(f"The Sum of all elements in list {l1} is {add_ele_list(l1)}")
print(f"The Sum of all elements in list {l2} is {add_ele_list(l2)}")

The Sum of all elements in list [2, 4, 8, 9, 3] is 26
The Sum of all elements in list [5, 1] is 6

16. Find the maximum value in a list.

In [ ]:
# Function to find the maximum value in a list
def max_val(list):
    return max(list)

l1 = [2,4,8,9,3]
l2 = [5,1]

# Printing the maximum element in list
print(f"The maximum element in list {l1} is {max_val(l1)}")
print(f"The maximum element in list {l2} is {max_val(l2)}")

The maximum element in list [2, 4, 8, 9, 3] is 9
The maximum element in list [5, 1] is 5

17. Find the minimum value in a list.

In [ ]:
# Function to find the minimum value in a list
def min_val(list):
    return min(list)

# lists
l1 = [2,4,8,9,3]
l2 = [5,1]

# Printing the minimum element in list
print(f"The minimum element in list {l1} is {min_val(l1)}")
print(f"The minimum element in list {l2} is {min_val(l2)}")

The minimum element in list [2, 4, 8, 9, 3] is 2
The minimum element in list [5, 1] is 1

18. Create a list of squares of numbers from 1 to 10.

In [ ]:
# Function to find the list of squares of numbers from 1 to 10
def list_of_square(list):
    return  [i ** 2 for i in list]

#list
l1 = [1,2,3,4,5,6,7,8,9,10]

#Printing the squares of numbers in list from 1 to 10
print(f"The list of Sqaures of numbers in list from 1 to 10 is {list_of_square(l1)}")

The list of Sqaures of numbers in list from 1 to 10 is [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [ ]:
# we are importing random module for generating random number
import random
# Function to create list of random numbers
def random_list(length):
    # randint is a method in random module which give random integer in length randint(1,100)
    return [random.randint(1,100) for _ in range(length)]

#length
l1 = 5
l2 = 24

# printing the random number containing list
print(f"The list of random numbers of length {l1} is {random_list(l1)}")
print(f"The list of random numbers of length {l2} is {random_list(l2)}")

The list of random numbers of length 5 is [17, 45, 25, 53, 94]
The list of random numbers of length 24 is [50, 49, 12, 27, 18, 82, 78, 11, 58, 5, 5, 2, 34, 71, 77, 98, 65, 4, 13, 22, 34, 62, 23, 78]

20. Remove duplicates from a list.

In [ ]:
# function to remove duplicate
def rm_duplicate(li):
    #with this approach the order of elemnts is maintained
    return[i for n, i in enumerate(li) if i not in li[:n]]

#list
l1 = [4,4,8,6,8,9,6]
l2 = [7,8,5,2,9,2,7]

#printing
print(f"The list after removing duplicates is := {rm_duplicate(l1)}")
print(f"The list after removing duplicates is := {rm_duplicate(l2)}")

The list after removing duplicates is := [4, 8, 6, 9]
The list after removing duplicates is := [7, 8, 5, 2, 9]

21. Find the common elements between two lists.

In [ ]:
#Function to find common elemnts between two lists
def common_bet_list(l1,l2):
    return [i for i in l1 if i in l2]

#lists
l1 = [4,8,9,5]
l2 = [8,9,7,3]

#printing
print(f"Common elements between 2 list is = {common_bet_list(l1,l2)}")

Common elements between 2 list is = [8, 9]

22. Find the difference between two lists.

In [ ]:
# function to find the difference between two list
def list_difference(l1,l2):
    return [i for i in l1 if i not in l2]

#lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

#print the difference between 2 lists
print(f"The difference between lists {list1} and {list2} is {list_difference(list1,list2)}")

The difference between lists [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8] is [1, 2, 3]

23. Merge two lists.

In [ ]:
# function to merge two lists
def merge_list(l1,l2):
    return l1 + l2

# lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# printing merged list
print(f"The merged list after merging 2 lists {list1} and {list2} is {merge_list(list1,list2)}")

The merged list after merging 2 lists [1, 2, 3] and [4, 5, 6] is [1, 2, 3, 4, 5, 6]

24. Multiply all elements in a list by 2.

In [ ]:
#function to multiply elements in a list by 2
def mul_by_2(list):
    return [i * 2 for i in list]

#lists
list1 = [2,4,5,1,6]

# printing list after multiplying by 2
print(f"The list {list1} after multiplying by '2' is {mul_by_2(list1)}")

The list [2, 4, 5, 1, 6] after multiplying by '2' is [4, 8, 10, 2, 12]

25. Filter out all even numbers from a list.

In [ ]:
def filter_even_num(list):
    return [i for i in list if i%2 != 0]

#lists
lists1 = [2,4,5,7,9,8]

# Printing
print(f"The list after filtering out even number from list {lists1} is {filter_even_num(lists1)}")

The list after filtering out even number from list [2, 4, 5, 7, 9, 8] is [5, 7, 9]

26. Convert a list of strings to a list of integers.

In [ ]:
def convert_strlist_intlist(list):
    return [int(i) for i in list]

# lists
li = ['1','2','3','4','5']

print(f"The list of string {li} after converting to list of integer is {convert_strlist_intlist(li)}")

The list of string ['1', '2', '3', '4', '5'] after converting to list of integer is [1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [ ]:
def convert_intlist_strlist(list):
    return [str(i) for i in list]

#lists
li = [4,5,8,1,6]

#print
print(f"The list of integer {li} after converting to list of string is {convert_intlist_strlist(li)}")

The list of integer [4, 5, 8, 1, 6] after converting to list of string is ['4', '5', '8', '1', '6']

28. Flatten a nested list.

In [ ]:
def flatten_list(nested_list):
    return [i for sublist in nested_list for i in sublist]

# lists
nested_list = [[1,2,3], [4,5,6], [7,8,9]]
print(f"nested list {nested_list} after flattening is {flatten_list(nested_list)}")

nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]] after flattening is [1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
def list_of_fib(n):
    fib_seq = [0, 1]
    while len(fib_seq) < n:
        fib_seq.append(fib_seq[-1] + fib_seq[-2])
    return fib_seq

#input
n = 10

print(f"The List of first {n} fibonacci numbes is {list_of_fib(n)}")

The List of first 10 fibonacci numbes is [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [ ]:
def check_sorted(list):
    return "Sorted" if list == sorted(list) else "Not sorted"

#lists
list1 = [4,5,1,8]
list2 = [1,2,3,4]

#print
print(f"The list {list1} is {check_sorted(list1)}")
print(f"The list {list2} is {check_sorted(list2)}")

The list [4, 5, 1, 8] is Not sorted
The list [1, 2, 3, 4] is Sorted

31. Rotate a list to the left by `n` positions.

In [ ]:
def rotate_list_left(list,n):
    return list[n:] + list[:n]

# input
list = [4,2,1,3]
n1 = 2

#calling a function
print(f"The list after rotating to left by {n1} number is {rotate_list_left(list,n1)}")

The list after rotating to left by 2 number is [1, 3, 4, 2]

32. Rotate a list to the right by `n` positions.

In [ ]:
def rotate_list_right(list, n):
    return list[-n:] + list[:-n]

#input
list = [4,2,3,1]
n1 = 2
#calling a function
print(f"The list after rotating to right by {n1} number is {rotate_list_right(list,n1)}")

The list after rotating to right by 2 number is [3, 1, 4, 2]

33. Create a list of prime numbers up to 50.|

In [ ]:
def primes_up_to(n):
    primes = []
    for possiblePrime in range(2, n + 1):
        isPrime = True
        for num in range(2, int(possiblePrime ** 0.5) + 1):
            if possiblePrime % num == 0:
                isPrime = False
                break
        if isPrime:
            primes.append(possiblePrime)
    return primes

print(f"The list of Primes numbers up to 50 is {primes_up_to(50)}")

The list of Primes numbers up to 50 is [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [ ]:
def split_list_into_chunks(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

lst = [1, 2, 3, 5, 6, 7, 8, 9, 6]
n = 2

chunked_list = list(split_list_into_chunks(lst, n))

print(f"The chunk of list of size {n} is {chunked_list}")

The chunk of list of size 2 is [[1, 2], [3, 5], [6, 7], [8, 9], [6]]

35. Find the second largest number in a list.

In [ ]:
def second_largest_no_in_list(li):
    sorted_list = sorted(li)
    return sorted_list[-2]

#inputs
li = [4,2,5,8,1]

#Printing
print(f"Second largest element in list {li} is {second_largest_no_in_list(li)}")

Second largest element in list [4, 2, 5, 8, 1] is 5

36. Replace every element in a list with its square.

In [ ]:
def square_elements(lst):
    return [num ** 2 for num in lst]

# lists
l1 = [1,2,3,4]

#printing
print(f"The replaced list with the square is : {square_elements(l1)}")

The replaced list with the square is : [1, 4, 9, 16]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [ ]:
def list_to_dict(lst):
    return {value: index for index, value in enumerate(lst)}

#lists
l1 = ['A','B','C']

#print
print(f"list after converting to dictonary is {list_to_dict(l1)}")

list after converting to dictonary is {'A': 0, 'B': 1, 'C': 2}

38. Shuffle the elements of a list randomly.

In [ ]:
import random

def shuffle_list(lst):
    random.shuffle(lst)
    return lst

#lists
lst = [1, 2, 3, 4, 5]

print(f" The list before shuffeling {lst} and after shuffeling is {(shuffle_list(lst))}")

 The list before shuffeling [1, 2, 3, 4, 5] and after shuffeling is [4, 3, 2, 5, 1]

39. Create a list of the first 10 factorial numbers.

In [ ]:
import math

def first_n_factorials(n):
    return [math.factorial(i) for i in range(n)]

# list
n = 10

#Printing
print(f"The list of first 10 factorial is {first_n_factorials(n)}")

The list of first 10 factorial is [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [ ]:
def have_common_element(list1, list2):
    return any(element in list2 for element in list1)

#list
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]

#printing
print(f"The lists {list1} and {list2} have common elements :: {have_common_element(list1, list2)}")

The lists [1, 2, 3, 4, 5] and [5, 6, 7, 8, 9] have common elements :: True

41. Remove all elements from a list.

In [ ]:
def clear_list(lst):
    lst.clear()
    return lst

#list
list1 = [1, 2, 3, 4, 5]

#printing
print(f"The list {list1} after clearing is {clear_list(list1)}")

The list [1, 2, 3, 4, 5] after clearing is []

42. Replace negative numbers in a list with 0.

In [ ]:
def replace_negatives_with_zero(lst):
    return [0 if num < 0 else num for num in lst]

#lists
lst = [-1, 2, -3, 4, -5]

print(f"the list {lst} after repacing negative numbers with 0 is {replace_negatives_with_zero(lst)}")

the list [-1, 2, -3, 4, -5] after repacing negative numbers with 0 is [0, 2, 0, 4, 0]

43. Convert a string into a list of words.

In [ ]:
def string_to_words(s):
    return s.split()

#strings
s = "hello world"

#printing
print(f"The string {s} after splitting it into list of words is {string_to_words(s)}")

The string hello world after splitting it into list of words is ['hello', 'world']

44. Convert a list of words into a string.

In [ ]:
def words_to_string(words):
    return ' '.join(words)

#list
words = ['This', 'is', 'a', 'sample', 'sentence.']

#print

print(f"The string after joining words in list '{(words_to_string(words))}'")

The string after joining words in list 'This is a sample sentence.'

45. Create a list of the first `n` powers of 2.

In [ ]:
def first_n_powers_of_2(n):
    return [2 ** i for i in range(n)]

# number
n = 10

#printing

print(f"The list of first {n} powers of 2 {first_n_powers_of_2(n)}")

The list of first 10 powers of 2 [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

46. Find the longest string in a list of strings.

In [ ]:
def longest_string(lst):
    return max(lst, key=len)

# list
lst = ["short", "medium length", "a really long string"]

print(f"The longest string in list of string {lst} is '{longest_string(lst)}'")

The longest string in list of string ['short', 'medium length', 'a really long string'] is 'a really long string'

47. Find the shortest string in a list of strings.

In [ ]:
def shortest_string(lst):
    return min(lst, key=len)

# list
lst = ["short", "medium length", "a really long string"]

print(f"The shortest string in list of words {lst} is '{shortest_string(lst)}'")

The shortest string in list of words ['short', 'medium length', 'a really long string'] is 'short'

48. Create a list of the first `n` triangular numbers.

In [ ]:
def generate_triangular_numbers(n):
    triangular_numbers = [(i * (i + 1)) // 2 for i in range(1, n + 1)]
    return triangular_numbers

# inputs
n = 5

#printing
print(f"The list of the first {n} triangukar numbers {generate_triangular_numbers(n)}")

The list of the first 5 triangukar numbers [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [ ]:
def is_subsequence(subsequence, sequence):
    sub_len = len(subsequence)
    seq_len = len(sequence)

    i, j = 0, 0

    while i < sub_len and j < seq_len:
        if subsequence[i] == sequence[j]:
            i += 1
        j += 1

    return i == sub_len

#inputs
sequence = [1, 2, 3, 4, 5, 6, 7, 8]
subsequence = [3, 5, 7]

print(f"The list {sequence} conatins subsequence {subsequence} :{is_subsequence(subsequence,sequence)}")

The list [1, 2, 3, 4, 5, 6, 7, 8] conatins subsequence [3, 5, 7] :True

50. Swap two elements in a list by their indices.

In [ ]:
def swap_elements(lst, index1, index2):

    if 0 <= index1 < len(lst) and 0 <= index2 < len(lst):
        lst[index1], lst[index2] = lst[index2], lst[index1]
#lists
my_list = [1, 2, 3, 4, 5]

swap_elements(my_list, 1, 3)

print(f"the list after swaping two elements in a list by thier indices is {my_list}")

the list after swaping two elements in a list by thier indices is [1, 4, 3, 2, 5]

Tuple

1. Create a tuple with integers from 1 to 5.

In [ ]:
# created tuple
my_tuple = (1,2,3,4,5)

#Printing
print(f"The tuple from 1 to 5 is {my_tuple}")

The tuple from 1 to 5 is (1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [ ]:
# created tuple
my_tuple = (1,2,3,4,5)

#accessing third element
third_element = my_tuple[2]

#printing third element here we taken index 2 to access 3rd element
print(f"The element from tuple {my_tuple} is {third_element}")

The element from tuple (1, 2, 3, 4, 5) is 3

3. Find the length of a tuple without using the `len()` function.

In [ ]:
# create a tuple
my_tuple = (10,20,30,40,50)

#variable to count
count = 0

for i in my_tuple:
    count += 1

#print
print(f"The length of the tuple is {count}")

The length of the tuple is 5

4. Count the occurrences of an element in a tuple.

In [ ]:
# create a tuple
my_tuple = (10, 20, 30, 30, 40, 80, 30)

ele = 30

count = 0

for i in my_tuple:
    if i == ele:
        count += 1


#printing
print(f"The count of element {ele} in tuple {my_tuple} is {count}")

The count of element 30 in tuple (10, 20, 30, 30, 40, 80, 30) is 3

5. Find the index of the first occurrence of an element in a tuple.

In [ ]:
# create a tuple
my_tuple = (10, 20, 30, 30, 40, 80, 30)

ele = 30
index = -1


for i in range(0,len(my_tuple)):
    if my_tuple[i] == ele:
        index = i
        break

#printing
print(f"The index of first occurrence of an element {ele} is {index}")

The index of first occurrence of an element 30 is 2

6. Check if an element exists in a tuple.

In [ ]:
#function to check if element exists in a tuple
def find(t, element):
    if element in t:
        return "True"
    else:
        return "False"
#inputs
t1 = (1,4,2,5)
t2 = (4,2,9,10)
ele1 = 4
ele2 = 11

#printing
print(f"The element {ele1} exists in tuple {t1} :{find(t1,ele1)}")
print(f"The element {ele2} exists in tuple {t1} :{find(t2,ele2)}")

The element 4 exists in tuple (1, 4, 2, 5) :True
The element 11 exists in tuple (1, 4, 2, 5) :False

7. Convert a tuple to a list.

In [ ]:
#function to convert tuple to a list
def convert_tuple_to_list(t):
    return list(t)

#inputs
t1 = (1,4,2,5)
t2 = (4,2,9,10)

#printing
print(f"The tuple {t1} after converting it to list is {convert_tuple_to_list(t1)}")
print(f"The tuple {t2} after converting it to list is {convert_tuple_to_list(t2)}")

The tuple (1, 4, 2, 5) after converting it to list is [1, 4, 2, 5]
The tuple (4, 2, 9, 10) after converting it to list is [4, 2, 9, 10]

8. Convert a list to a tuple.

In [ ]:
#function to convert list into tuple
def convert_list_to_tuple(li):
    return tuple(li)

#inputs
li1 = [4,1,5,2,3,7]
li2 = [8,5,9,10]

#printing
print(f"The list {li1} after converting to tuple is {convert_list_to_tuple(li1)}")
print(f"The list {li2} after converting to tuple is {convert_list_to_tuple(li2)}")

The list [4, 1, 5, 2, 3, 7] after converting to tuple is (4, 1, 5, 2, 3, 7)
The list [8, 5, 9, 10] after converting to tuple is (8, 5, 9, 10)

9. Unpack the elements of a tuple into variables.

In [ ]:

#creating a tuple
t = ("hello","hi","how","name")

#assigning element
var1,var2,var3,var4 = t

#print the varibales
print("var1:=", var1)
print("var2:=", var2)
print("var3:=", var3)
print("var4:=", var4)

var1:= hello
var2:= hi
var3:= how
var4:= name

10. Create a tuple of even numbers from 1 to 10.

In [ ]:
#function to create tuple of even number
def even(start,end):
    return tuple(i for i in range(start,end) if i%2 ==0)

print(f"The tuple of even numbers from 1 to 10 is :: {even(1,11)}")

The tuple of even numbers from 1 to 10 is :: (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [ ]:
#function to create tuple of odd number
def odd(start,end):
    return tuple(i for i in range(start,end) if i%2 !=0)

print(f"The tuple of even numbers from 1 to 10 is :: {odd(1,11)}")

The tuple of even numbers from 1 to 10 is :: (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [ ]:
#tuples
t1 = (4,1,2,35)
t2 = (1,5,6,8)

concatenated_tuple = t1+t2

#printing
print(f"The concatinated tuple is = {concatenated_tuple}")

The concatinated tuple is = (4, 1, 2, 35, 1, 5, 6, 8)

13. Repeat a tuple three times.

In [ ]:
t = (1,2,3)

repeated_tuple = t*3

#printing repated tuple 3 times
print(f"The tuple {t} after repeating it 3 times is {repeated_tuple}")

The tuple (1, 2, 3) after repeating it 3 times is (1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [ ]:
n = 10

power = (2 ** i for i in range(n))

tup = tuple(power)

print("Tuple of first n powers of 2 =: ",tup)

Tuple of first n powers of 2 =:  (1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

15. Create a nested tuple.

In [ ]:
# nested tuple
nested_tuple = (("Apple","Jam"),("Banana","Protein"))

#printing nested tuple
print(f"Nested tuple is {nested_tuple}")

Nested tuple is (('Apple', 'Jam'), ('Banana', 'Protein'))

16. Access the first element of a nested tuple.

In [ ]:
# nested tuple
nested_tuple = (("Apple","Jam"),("Banana","Protein"))

#first element of nested tuple
first_element = nested_tuple[0]

#printing nested tuple
print(f"First Element of Nested tuple is {first_element}")

First Element of Nested tuple is ('Apple', 'Jam')

17. Create a tuple with a single element.

In [ ]:
# tuple
tuple1 = (1,)

#here we used comma after 1 is due to differentiate tuple and ordinary number in parentheses
# printing the tuple with only one element
print(f"The tuple with only one element is {tuple1}")

The tuple with only one element is (1,)

18. Compare two tuples.

In [ ]:
t1 = (1, 2, 3)
t2 = (1, 2 ,4)


#compairing two tuple and printing the output in true or false
print(t1 == t2)
print(t1 != t2)
print(t1 > t2)
print(t1 < t2)

False
True
False
True

19. Delete a tuple.

In [ ]:
#Tuple
t = (1, 2, 3)

#Printing Tuple
print(f"Tuple before deleting {t}")

#deleting tuple
del t

#we will try to print tuple after deleting it will going to give error
print(f"tuple after deleting is {t}")

Tuple before deleting (1, 2, 3)

NameError: name 't' is not defined

20. Slice a tuple.

In [ ]:
# Creating a tuple
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Using slicing to create a new tuple
start_index = 2
end_index = 7
sliced_tuple = my_tuple[start_index:end_index]

# Printing the sliced tuple
print("Original Tuple:", my_tuple)
print("Sliced Tuple:", sliced_tuple)

Original Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Sliced Tuple: (3, 4, 5, 6, 7)

21. Find the maximum value in a tuple.

In [ ]:
#Creating a tuple
my_tuple = (1, 2, 3, 4, 11, 6, 7, 8, 9, 10)

# Finding Maximum element in tuple
max_element = max(my_tuple)

#Printing the maximum element in tuple
print(f"The maximum element in tuple '{my_tuple}' is '{max_element}'")

The maximum element in tuple '(1, 2, 3, 4, 11, 6, 7, 8, 9, 10)' is '11'

22. Find the minimum value in a tuple.

In [ ]:
#Creating a tuple
my_tuple = (19, 2, 3, 4, 11, 6, 7, 8, 9, 10)

# Finding Minimum element in tuple
min_element = min(my_tuple)

#Printing the minimum element in tuple
print(f"The minimum element in tuple '{my_tuple}' is '{min_element}'")

The minimum element in tuple '(19, 2, 3, 4, 11, 6, 7, 8, 9, 10)' is '2'

23. Convert a string to a tuple of characters.

In [ ]:
#function to convert string into tuple of character
def string_to_tuple(str):
  return tuple(str)

#inputs
str1 = "Hello, Swapnil"

#Printing the tuple of character which is converted from string
print(f"The String '''{str1}''' after converting to tuple is {string_to_tuple(str1)}")

The String '''Hello, Swapnil''' after converting to tuple is ('H', 'e', 'l', 'l', 'o', ',', ' ', 'S', 'w', 'a', 'p', 'n', 'i', 'l')

24. Convert a tuple of characters to a string.

In [ ]:
#Function to convert tupe of character into string
def tuple_to_string(tuple1):
  return "".join(tuple1)

#inputs
tuple1 = ('s','w','a','p','n','i','l')

#Printing the string which formed after converting it from tuple
print(f"The tuple {tuple1} after converting it to string is '''{tuple_to_string(tuple1)}'''")

The tuple ('s', 'w', 'a', 'p', 'n', 'i', 'l') after converting it to string is '''swapnil'''

25. Create a tuple from multiple data types.

In [ ]:
# Creating a tuple with elements of different data types
mixed_tuple = (1, "Hello", 3.14, True)

# Printing the tuple
print(f"The tuple with different data types is {mixed_tuple}")

The tuple with different data types is (1, 'Hello', 3.14, True)

26. Check if two tuples are identical.

In [ ]:
# Define two tuples
tuple1 = (1, "Hello", 3.14)
tuple2 = (1, "Hello", 3.14)

# Check if the tuples are identical
if tuple1 == tuple2:
    print("Tuples are identical.")
else:
    print("Tuples are not identical.")

Tuples are identical.

27. Sort the elements of a tuple.

In [ ]:
# Define the tuple
tuple1 = (2,3,9,1,10)

#Sorting the tuple using in built function sorted()
sorted_tuple = tuple(sorted(tuple1))

#printing the sorted tuple
print(f"The tuple {tuple1} after sorting is {sorted_tuple}")

The tuple (2, 3, 9, 1, 10) after sorting is (1, 2, 3, 9, 10)

28. Convert a tuple of integers to a tuple of strings.

In [ ]:
#Tuple of integers
tuple1 = (1, 2, 3, 4, 5)

#creating tuple of string from tuple of integer
tuple_of_string = tuple(map(str, tuple1))

#printing tuple of string
print(f"The tuple {tuple1} after converting to string is {tuple_of_string}")

The tuple (1, 2, 3, 4, 5) after converting to string is ('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [ ]:
#Tuple of String
tuple1 = ('1', '2', '3', '4', '5')

#creating tuple of integer from tuple of string
tuple_of_integer = tuple(map(int, tuple1))

#printing tuple of integer
print(f"The tuple {tuple1} after converting to tuple of integer is {tuple_of_integer}")

The tuple ('1', '2', '3', '4', '5') after converting to tuple of integer is (1, 2, 3, 4, 5)

30. Merge two tuples.

In [ ]:
#tuples
t1 = (1, 2, 3, 4)
t2 = (8, 7, 6)

#merging 2 tuples
merged_tuple = t1 +  t2

#printing merged tuple
print(f"The tuple {t1} and {t2} after merging {merged_tuple}")

The tuple (1, 2, 3, 4) and (8, 7, 6) after merging (1, 2, 3, 4, 8, 7, 6)

31. Flatten a nested tuple.

In [ ]:
#function to flatten the nested tuple
def flatten_nested_tuple(nested_tuple):
    flat_list = []
    for i in nested_tuple:
        if isinstance(i, tuple):
            flat_list.extend(flatten_nested_tuple(i))
        else:
            flat_list.append(i)
    return tuple(flat_list)

#Nested tuple
nested_tuple = (1, (2, 3), (4, (5, 6), 7), 8)

#printing the flatten nested tuple
print(f"the nested tuple '''{nested_tuple}''' after converting to flatten tuple {flatten_nested_tuple(nested_tuple)}")

the nested tuple '''(1, (2, 3), (4, (5, 6), 7), 8)''' after converting to flatten tuple (1, 2, 3, 4, 5, 6, 7, 8)

32. Create a tuple of the first 5 prime numbers.

In [2]:
#function to check prime number
def is_prime(num):
    if num == 1:
        return False
    elif num == 2:
        return True
    elif num % 2 == 0:
        return False
    for i in range(3, int(num ** 0.5) + 1, 2):
        if num % i == 0:
            return False
    return True
#function to create a tuple of prime number
def generate_primes(n):
    primes = []
    i = 2
    while len(primes) < n:
        if is_prime(i):
            primes.append(i)
        i += 1
    return primes

#test cases
n = 5

print(f"first {n} prime numbers are := {generate_primes(n)}")

first 5 prime numbers are := [2, 3, 5, 7, 11]

33. Check if a tuple is a palindrome.

In [6]:
def is_palindrome(tup):
    return tup == tup[::-1]

tup1 = (1, 2, 3, 2, 1)
tup2= (1, 2, 3, 4, 5)


print(f"The tuple {tup1} is palindrome := {is_palindrome(tup1)}")
print(f"The tuple {tup2} is palindrome := {is_palindrome(tup2)}")

The tuple (1, 2, 3, 2, 1) is palindrome := True
The tuple (1, 2, 3, 4, 5) is palindrome := False

**34**. Create a tuple of squares of numbers from 1 to 5.

In [7]:
n = 5

squares = tuple(i**2 for i in range(1, n+1))
print(squares)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [8]:
# Original tuple
tup = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Filter out even numbers
filtered_tup = tuple(filter(lambda x: x % 2 != 0, tup))

print(filtered_tup)

(1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [9]:
# Original tuple
tup = (1, 2, 3, 4, 5)

# Multiply all elements by 2
multiplied_tup = tuple(i * 2 for i in tup)

print(multiplied_tup)

(2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [12]:
import random

#test cases
n1 = 5
n2 = 10

random_numbers1 = tuple(random.randint(1, 100) for i in range(n1))
random_numbers2 = tuple(random.randint(1, 100) for i in range(n2))


print(random_numbers1)
print(random_numbers2)

(30, 97, 10, 18, 55)
(14, 67, 11, 57, 8, 59, 34, 1, 47, 89)

38. Check if a tuple is sorted.

In [15]:
def is_sorted(tup):
    return tup == tuple(sorted(tup))

#test cases
tup1 = (1, 2, 3, 4, 5)
tup2 = (1, 3, 2, 4, 5)

#printing
print(f"The tuple {tup1} is sorted := {is_sorted(tup1)}")
print(f"The tuple {tup2} is sorted := {is_sorted(tup2)}")

The tuple (1, 2, 3, 4, 5) is sorted := True
The tuple (1, 3, 2, 4, 5) is sorted := False

39. Rotate a tuple to the left by `n` positions.

In [21]:
def rotate_tuple(tup, n):
    return tup[n:] + tup[:n]


tup = (1, 2, 3, 4, 5)
rotated_tup = rotate_tuple(tup, 2)
print(f"The tuple {tup} on rotation of 2 on left is := {rotated_tup}")

The tuple (1, 2, 3, 4, 5) on rotation of 2 on left is := (3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [22]:
def rotate_tuple(tup, n):
    return tup[-n:] + tup[:-n]

tup = (1, 2, 3, 4, 5)
rotated_tup = rotate_tuple(tup, 2)
print(f"The tuple {tup} on rotation of 2 on right is := {rotated_tup}")

The tuple (1, 2, 3, 4, 5) on rotation of 2 on right is := (4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [23]:
def fibonacci(n):
    fib_sequence = [0, 1]
    while len(fib_sequence) < n:
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    return tuple(fib_sequence)


fib_numbers = fibonacci(5)
print(fib_numbers)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [25]:
# Ask the user for the desired size of the tuple
size = int(input("Please enter the desired size of the tuple: "))


user_inputs = []

# Loop until the size is filled
while len(user_inputs) < size:
    # Ask the user for input
    user_input = input("Please enter a value: ")
    user_inputs.append(user_input)

# Convert the list to a tuple
user_tuple = tuple(user_inputs)

print("The created tuple is:", user_tuple)

Please enter the desired size of the tuple: 3
Please enter a value: 2
Please enter a value: 7
Please enter a value: 9
The created tuple is: ('2', '7', '9')

43. Swap two elements in a tuple.

In [26]:
# Define the tuple
t = ('a', 'b', 'c', 'd', 'e')

# Indices of elements to be swapped
i, j = 1, 3

# Convert the tuple to a list, swap the elements and convert it back to a tuple
t_list = list(t)
t_list[i], t_list[j] = t_list[j], t_list[i]
t = tuple(t_list)

print("The tuple after swapping is:", t)

The tuple after swapping is: ('a', 'd', 'c', 'b', 'e')

44. Reverse the elements of a tuple.

In [27]:
# Define the tuple
t = ('a', 'b', 'c', 'd', 'e')

# Reverse the tuple
reversed_t = t[::-1]

print("The reversed tuple is:", reversed_t)

The reversed tuple is: ('e', 'd', 'c', 'b', 'a')

45. Create a tuple of the first `n` powers of 2.

In [29]:
# Ask the user for the number of powers of 2
n = int(input("Please enter the number of powers of 2: "))

# Create a tuple of the first n powers of 2
powers_of_2 = tuple(2**i for i in range(1,n+1))

print("The tuple of the first", n, "powers of 2 is:", powers_of_2)

Please enter the number of powers of 2: 5
The tuple of the first 5 powers of 2 is: (2, 4, 8, 16, 32)

46. Find the longest string in a tuple of strings.

In [ ]:
tup = ("hello","swapnil","shinde","assignment","word")

longest_string = max(tup,key=len)

print("Longest string in tuple is :=",longest_string)

Longest string in tuple is := assignment

47. Find the shortest string in a tuple of strings.

In [ ]:
tup = ("hello","swapnil","shinde","assignment","word")

shortest_string = min(tup,key=len)

print("shortest string in tuple is :=",shortest_string)

shortest string in tuple is := word

48. Create a tuple of the first `n` triangular numbers.

In [31]:
# Ask the user for the number of triangular numbers
n = int(input("Please enter the number of triangular numbers: "))

# Create a tuple of the first n triangular numbers
triangular_numbers = tuple(i*(i+1)//2 for i in range(1, n+1))

print("The tuple of the first", n, "triangular numbers is:", triangular_numbers)

Please enter the number of triangular numbers: 5
The tuple of the first 5 triangular numbers is: (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [32]:
def is_subsequence(tup1, tup2):
    it = iter(tup2)
    return all(any(x == y for y in it) for x in tup1)

# Define the tuples
tup1 = (1, 2, 3)
tup2 = (0, 1, 2, 3, 4, 5)

# Check if tup1 is a subsequence of tup2
print(is_subsequence(tup1, tup2))

True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [33]:
# Ask the user for the length of the tuple
n = int(input("Please enter the length of the tuple: "))

# Create a tuple of alternating 1s and 0s of length n
alternating_tuple = tuple((i % 2) for i in range(n))

print("The tuple of alternating 1s and 0s of length", n, "is:", alternating_tuple)

Please enter the length of the tuple: 10
The tuple of alternating 1s and 0s of length 10 is: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# **Set Based Question**

1. Create a set with integers from 1 to 5.

In [ ]:
#creating set from 1 to 5
set1 = {1,2,3,4,5}

#printing set
print(set1)

#checking type of set
type(set1)

{1, 2, 3, 4, 5}

set

2. Add an element to a set.

In [ ]:
#set
set1 = {1,2,3,4,5}

#printing set before adding an element
print(f"set before adding an element := {set1}")

#adding element to a set
set1.add(6)

#printing set after adding an element
print(f'set after adding an element := {set1}')

set before adding an element := {1, 2, 3, 4, 5}
set after adding an element := {1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [ ]:
#creating set
set1 = {1,2,3,4,5}

#printing set before removing an element
print(f"Set before removing an element := {set1}")

#removing an element from a set
set1.remove(5)

#printing set after removing element 5
print(f"Set after removing an element := {set1}")

Set before removing an element := {1, 2, 3, 4, 5}
Set after removing an element := {1, 2, 3, 4}

4. Check if an element exists in a set.

In [ ]:
#creating a set
set1 = {1,2,3,4,5}

#printing if a element is available in set or not
print(f"The element 5 is available in set := {5 in set1}")
print(f"The element 6 is available in set := {6 in set1}")

The element 5 is available in set := True
The element 6 is available in set := False

5. Find the length of a set without using the `len()` function.

In [ ]:
#creating a function to find a length of a set
def len(s):
  count = 0
  for i in s:
    count += 1
  return count

#test cases
set1 = {4,5,9}
set2 = {7,2,1,5,4,3}

#printing
print(f"the set {set1} has a length := {len(set1)}")
print(f"the set {set2} has a length := {len(set2)}")

the set {9, 4, 5} has a length := 3
the set {1, 2, 3, 4, 5, 7} has a length := 6

6. Clear all elements from a set.

In [ ]:
#creating a set
set1 = {1,2,3,4,5}

#printing a set before clearing an set
print(f"set before clearing all elements from set := {set1}")

#using clear method to clear all elements from a set
set1.clear()

#printing an empty set
print(f"Set after clearing all elements from set := {set1}")

set before clearing all elements from set := {1, 2, 3, 4, 5}
Set after clearing all elements from set := set()

7. Create a set of even numbers from 1 to 10.

In [ ]:
#functiont to create an set of even num
def even_set(start,end):
  return {i for i in range(start,end+1) if i % 2 == 0}

start = 1
end = 10

#printing
print(f"The set of even num from {start} to {end} is := {even_set(start,end)}")

The set of even num from 1 to 10 is := {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [ ]:
#functiont to create an set of odd num
def odd_set(start,end):
  return {i for i in range(start,end+1) if i % 2 != 0}

start = 1
end = 10

#printing
print(f"The set of odd num from {start} to {end} is := {odd_set(start,end)}")

The set of odd num from 1 to 10 is := {1, 3, 5, 7, 9}

9. Find the union of two sets.

In [ ]:
#creating two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

#creating union of set
union_set = set1.union(set2)

#printing union of set
print(f"The union of two sets {set1} and {set2} is {union_set}")

The union of two sets {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8} is {1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets.

In [ ]:
#creating two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

#creating intersection of set
intersection_set = set1.intersection(set2)

#printing union of set
print(f"The intersection of two sets {set1} and {set2} is {intersection_set}")

The intersection of two sets {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8} is {4, 5}

11. Find the difference between two sets.

In [ ]:
#creating two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

#here difference means the elements only present in first set not in second set
#creating difference of set
difference_set = set1.difference(set2)

#printing difference of set
print(f"The difference of two sets {set1} and {set2} is {difference_set}")

The difference of two sets {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8} is {1, 2, 3}

12. Check if a set is a subset of another set.

In [ ]:
#creating two sets
set1 = {1, 2, 3}
set2 = {1, 2, 3, 7, 8}

#checking if set1 is subset of set2
is_subset = set1.issubset(set2)

#printing
print(f"The set1 is a subset of set2 := {is_subset}")

The set1 is a subset of set2 := True

13. Check if a set is a superset of another set.

In [ ]:
#creating two sets
set2 = {1, 2, 3}
set1 = {1, 2, 3, 7, 8}

#checking if set1 is superset of set2
is_superset = set1.issuperset(set2)

#printing
print(f"The set1 is a superset of set2 := {is_superset}")

The set1 is a superset of set2 := True

14. Create a set from a list.

In [ ]:
#list
li = [4,5,8,9,1]

#creating a set from list
set1 = set(li)

print(f"The set from list {li} is {set1}")

The set from list [4, 5, 8, 9, 1] is {1, 4, 5, 8, 9}

15. Convert a set to a list.

In [ ]:
#set
set1 = {4,5,7,8,2}

#converting a set to list
li = list(set1)

#print
print(f"The list from set {set1} is {li}")

The list from set {2, 4, 5, 7, 8} is [2, 4, 5, 7, 8]

16. Remove a random element from a set.

In [ ]:
set1 = {2, 4, 5, 7, 8}

#removing random element from set using pop() method which removes random element from set
random_ele = set1.pop()

#printing random element removed from set
print(f"The random element removed from set is {random_ele}")

The random element removed from set is 2

17. Pop an element from a set.

In [ ]:
set1 = {2, 4, 5, 7, 8}

#poping out element from set
ele = set1.pop()

#printing random element removed from set
print(f"The element removed from set is {ele}")

The element removed from set is 2

18. Check if two sets have no elements in common.

In [ ]:
# set
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if set1 and set2 have no elements in common
are_disjoint = set1.isdisjoint(set2)

print(f"Do set1 and set2 have no elements in common : {are_disjoint}")

Do set1 and set2 have no elements in common : True

19. Find the symmetric difference between two sets.

In [34]:
# Define the sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the symmetric difference
sym_diff = set1 ^ set2

print("The symmetric difference between the sets is:", sym_diff)

The symmetric difference between the sets is: {1, 2, 3, 6, 7, 8}

20. Update a set with elements from another set.

In [35]:
# Define the sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Update set1 with elements from set2
set1.update(set2)

print("The updated set is:", set1)

The updated set is: {1, 2, 3, 4, 5, 6, 7, 8}

21. Create a set of the first 5 prime numbers.

In [37]:
def generate_n_primes(n):
    primes = set()
    i = 2
    while len(primes) < n:
        for j in range(2, i):
            if i % j == 0:
                break
        else:
            primes.add(i)
        i += 1
    return primes

# Test the function
n = 5
print("The set of the first", n, "prime numbers is:", generate_n_primes(n))

The set of the first 5 prime numbers is: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [38]:
# Define the sets
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 4, 5}

# Check if the sets are identical
if set1 == set2:
    print(f"The sets are identical.")
else:
    print(f"The sets are not identical.")

The sets are identical.

23. Create a frozen set.

In [39]:
# Define the set
my_set = {1, 2, 3, 4, 5}

# Create a frozen set from the set
frozen_set = frozenset(my_set)

print(f"The created frozen set is: {frozen_set}")

The created frozen set is: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [40]:
# Define the sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Check if the sets are disjoint
if set1.isdisjoint(set2):
    print(f"The sets are disjoint.")
else:
    print(f"The sets are not disjoint.")

The sets are disjoint.

25. Create a set of squares of numbers from 1 to 5.

In [41]:
# Create a set of squares of numbers from 1 to 5
squares = {i**2 for i in range(1, 6)}

print(f"The set of squares of numbers from 1 to 5 is: {squares}")

The set of squares of numbers from 1 to 5 is: {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [43]:
# Define the set
numbers = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Filter out all even numbers from the set
filtered_numbers = {i for i in numbers if i % 2 != 0}

print(f"The set after filtering out all even numbers is: {filtered_numbers}")

The set after filtering out all even numbers is: {1, 3, 5, 7, 9}

27. Multiply all elements in a set by 2.

In [45]:
# Define the set
numbers = {1, 2, 3, 4, 5}

# Multiply all elements in the set by 2
multiplied_numbers = {i * 2 for i in numbers}

print(f"The set after multiplying all elements by 2 is: {multiplied_numbers}")

The set after multiplying all elements by 2 is: {2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [46]:
import random

# Create a set of 10 random numbers between 1 and 100
random_numbers = {random.randint(1, 100) for _ in range(10)}

print(f"The set of random numbers is: {random_numbers}")

The set of random numbers is: {100, 70, 9, 46, 14, 79, 81, 29, 94, 95}

29. Check if a set is empty.

In [47]:
# Define the set
my_set = set()

# Check if the set is empty
if not my_set:
    print(f"The set is empty.")
else:
    print(f"The set is not empty.")

The set is empty.

30. Create a nested set (hint: use frozenset).

In [48]:
# Create a frozenset
frozen = frozenset([1, 2, 3, 4, 5])

# Create a set with the frozenset as an element
nested_set = {frozen}

print(f"The nested set is: {nested_set}")

The nested set is: {frozenset({1, 2, 3, 4, 5})}

31. Remove an element from a set using the discard method.

In [49]:
# Define the set
numbers = {1, 2, 3, 4, 5}

# Remove an element from the set
numbers.discard(3)

print(f"The set after removing the element is: {numbers}")

The set after removing the element is: {1, 2, 4, 5}

32. Compare two sets.

In [50]:
set1 = {1, 2, 3}
set2 = {1, 2, 3}
print(f"Are set1 and set2 equal? {set1 == set2}")

Are set1 and set2 equal? True

33. Create a set from a string.

In [51]:
# Define the string
s = "Hello, World!"

# Create a set from the string
my_set = set(s)

print(f"The created set is: {my_set}")

The created set is: {' ', ',', 'd', 'o', 'l', '!', 'r', 'W', 'e', 'H'}

34. Convert a set of strings to a set of integers.

In [52]:
# Define the set of strings
str_set = {"1", "2", "3", "4", "5"}

# Convert the set of strings to a set of integers
int_set = {int(i) for i in str_set}

print(f"The converted set is: {int_set}")

The converted set is: {1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.}

In [53]:
# Define the set of integers
int_set = {1, 2, 3, 4, 5}

# Convert the set of integers to a set of strings
str_set = {str(i) for i in int_set}

print(f"The converted set is: {str_set}")

The converted set is: {'3', '2', '4', '5', '1'}

36. Create a set from a tuple.

In [54]:
# Define a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Convert the tuple into a set
my_set = set(my_tuple)

print(my_set)

{'apple', 'cherry', 'banana'}

37. Convert a set to a tuple.

In [55]:
# Define a set
my_set = {'apple', 'banana', 'cherry'}

# Convert the set into a tuple
my_tuple = tuple(my_set)

print(my_tuple)

('apple', 'cherry', 'banana')

38. Find the maximum value in a set.

In [56]:
# Define a set
my_set = {1, 3, 2, 8, 5, 10}

# Find the maximum value in the set
max_value = max(my_set)

print(max_value)

10

39. Find the minimum value in a set.

In [57]:
# Define a set
my_set = {1, 3, 2, 8, 5, 10}

# Find the minimum value in the set
min_value = min(my_set)

print(min_value)

1

40. Create a set from user input.

In [59]:
# Ask the user for the size of the set
size = int(input("Enter the size of the set: "))

# Initialize an empty list
input_list = []

# Take 'size' number of elements as input
for i in range(size):
    element = input(f"Enter element {i+1}: ")
    input_list.append(element)

# Convert the list into a set
my_set = set(input_list)

print(my_set)

Enter the size of the set: 3
Enter element 1: 2
Enter element 2: 7
Enter element 3: 9
{'7', '2', '9'}

41. Check if the intersection of two sets is empty.

In [60]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Find the intersection of the two sets
intersection = set1 & set2

# Check if the intersection is empty
if not intersection:
    print("The intersection is empty.")
else:
    print("The intersection is not empty.")

The intersection is empty.

42. Create a set of the first 5 Fibonacci numbers.

In [63]:
# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Initialize an empty set
fib_set = set()

# Add the first 5 Fibonacci numbers to the set
for i in range(6):
    fib_set.add(a)
    a, b = b, a + b

print(fib_set)

{0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [64]:
# Define a list with duplicates
my_list = [1, 2, 2, 3, 4, 4, 5, 5]

# Convert the list into a set to remove duplicates
my_set = set(my_list)

# Convert the set back into a list
my_list = list(my_set)

print(my_list)

[1, 2, 3, 4, 5]

44. Check if two sets have the same elements, regardless of their count.

In [65]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

# Check if the two sets have the same elements
if set1 == set2:
    print("The two sets have the same elements.")
else:
    print("The two sets do not have the same elements.")

The two sets have the same elements.

45. Create a set of the first `n` powers of 2.

In [66]:
# Ask the user for the number of powers of 2
n = int(input("Enter the number of powers of 2: "))

# Initialize an empty set
powers_of_2 = set()

# Add the first n powers of 2 to the set
for i in range(n):
    powers_of_2.add(2**i)

print(powers_of_2)

Enter the number of powers of 2: 4
{8, 1, 2, 4}

46. Find the common elements between a set and a list.

In [67]:
# Define a set
my_set = {1, 2, 3, 4, 5}

# Define a list
my_list = [4, 5, 6, 7, 8]

# Convert the list into a set
list_set = set(my_list)

# Find the common elements
common_elements = my_set & list_set

print(common_elements)

{4, 5}

47. Create a set of the first `n` triangular numbers.

In [68]:
# Ask the user for the number of triangular numbers
n = int(input("Enter the number of triangular numbers: "))

# Initialize an empty set
triangular_numbers = set()

# Add the first n triangular numbers to the set
for i in range(1, n+1):
    triangular_numbers.add(i*(i+1)//2)

print(triangular_numbers)

Enter the number of triangular numbers: 3
{1, 3, 6}

48. Check if a set contains another set as a subset.

In [70]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3, 4}

# Check if set1 contains set2 as a subset using the issubset() method
if set2.issubset(set1):
    print("Set1 contains Set2 as a subset.")
else:
    print("Set1 does not contain Set2 as a subset.")

Set1 contains Set2 as a subset.

49. Create a set of alternating 1s and 0s of length `n`.

In [71]:
# Ask the user for the length of the list
n = int(input("Enter the length of the list: "))

# Create a list of alternating 1s and 0s of length n
my_list = [i % 2 for i in range(n)]

print(my_list)

Enter the length of the list: 3
[0, 1, 0]

50. Merge multiple sets into one.

In [73]:
# Define three sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Merge the sets using the union() method
merged_set = set1.union(set2, set3)

print(merged_set)

{1, 2, 3, 4, 5, 6, 7}