In [ ]:
# Q1: Print numbers from 1 to 10 using a `for` loop
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Q2: Calculate the sum of numbers in a list using a `for` loop
num_list = [1, 2, 3, 4, 5]
sum_of_numbers = 0
for num in num_list:
    sum_of_numbers += num
print("Sum of numbers:", sum_of_numbers)

Sum of numbers: 15

In [ ]:
# Q3: Print characters of a string in reverse order using a `for` loop
input_string = "Hello"
for char in reversed(input_string):
    print(char)

o
l
l
e
H

In [ ]:
# Q4: Find the factorial of a given number using a `for` loop
n = 5
factorial = 1
for i in range(1, n + 1):
    factorial *= i
print("Factorial of", n, "is", factorial)

Factorial of 5 is 120

In [ ]:
# Q5: Print the multiplication table of a given number using a `for` loop
n = 7
for i in range(1, 11):
    print(n, "*", i, "=", n * i)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [ ]:
# Q6: Count even and odd numbers in a list using a `for` loop
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
even_count = 0
odd_count = 0
for num in numbers:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1
print("Even numbers:", even_count)
print("Odd numbers:", odd_count)

Even numbers: 4
Odd numbers: 5

In [ ]:
# Q7: Print squares of numbers from 1 to 5 using a `for` loop
for i in range(1, 6):
    print(i, "squared is", i**2)

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25

In [ ]:
# Q8: Find the length of a string without using `len()`
input_string = "Hello, World!"
length = 0
for char in input_string:
    length += 1
print("Length of the string:", length)

Length of the string: 13

In [ ]:
# Q9: Calculate the average of a list of numbers using a `for` loop
numbers = [4, 7, 1, 9, 5]
total = sum(numbers)
average = total / len(numbers)
print("Average:", average)

Average: 5.2

In [ ]:
# Q10: Print the first `n` Fibonacci numbers using a `for` loop
n = 10
fibonacci = [0, 1]
for i in range(2, n):
    next_num = fibonacci[i - 1] + fibonacci[i - 2]
    fibonacci.append(next_num)
print("First", n, "Fibonacci numbers:", fibonacci)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
# Q11: Check if a list contains duplicates using a `for` loop
def has_duplicates(lst):
    seen = set()
    for item in lst:
        if item in seen:
            return True
        seen.add(item)
    return False

sample_list = [1, 2, 3, 4, 2]
if has_duplicates(sample_list):
    print("The list contains duplicates.")
else:
    print("The list does not contain duplicates.")

The list contains duplicates.

In [ ]:
# Q12: Print prime numbers in a given range using a `for` loop
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

start_range = 10
end_range = 50
print("Prime numbers between", start_range, "and", end_range, "are:")
for num in range(start_range, end_range + 1):
    if is_prime(num):
        print(num, end=" ")

Prime numbers between 10 and 50 are:
11 13 17 19 23 29 31 37 41 43 47

In [ ]:
# Q13: Count vowels in a string using a `for` loop
input_string = "Hello, World!"
vowels = "AEIOUaeiou"
vowel_count = 0
for char in input_string:
    if char in vowels:
        vowel_count += 1
print("Number of vowels in the string:", vowel_count)

Number of vowels in the string: 3

In [ ]:
# Q14: Find the maximum element in a 2D list using a nested `for` loop
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
max_element = matrix[0][0]
for row in matrix:
    for num in row:
        if num > max_element:
            max_element = num
print("Maximum element in the 2D list:", max_element)

Maximum element in the 2D list: 9

In [ ]:
# Q15: Remove all occurrences of a specific element from a list using a `for` loop
num_list = [1, 2, 3, 4, 2, 5, 2]
element_to_remove = 2
num_list = [num for num in num_list if num != element_to_remove]
print("List after removing", element_to_remove, ":", num_list)

List after removing 2 : [1, 3, 4, 5]

In [ ]:
# Q16: Generate a multiplication table for numbers from 1 to 5 using a nested `for` loop
for i in range(1, 6):
    for j in range(1, 11):
        print(i, "*", j, "=", i * j)
    print()  # Print an empty line between tables

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
# Q17: Convert a list of Fahrenheit temperatures to Celsius using a `for` loop
fahrenheit_temperatures = [32, 68, 77, 104]
celsius_temperatures = []
for fahrenheit in fahrenheit_temperatures:
    celsius = (fahrenheit - 32) * 5/9
    celsius_temperatures.append(celsius)
print("Celsius temperatures:", celsius_temperatures)

Celsius temperatures: [0.0, 20.0, 25.0, 40.0]

In [ ]:
# Q18: Print common elements from two lists using a `for` loop
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
common_elements = []
for item in list1:
    if item in list2:
        common_elements.append(item)
print("Common elements:", common_elements)

Common elements: [4, 5]

In [ ]:
# Q19: Print a pattern of right-angled triangles using a `for` loop
n = 5
for i in range(1, n + 1):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
# Q20: Find the greatest common divisor (GCD) of two numbers using a `for` loop
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

num1 = 24
num2 = 36
result = gcd(num1, num2)
print("GCD of", num1, "and", num2, "is", result)

GCD of 24 and 36 is 12

In [ ]:
# Q21: Calculate the sum of digits of numbers in a list using list comprehension
num_list = [123, 45, 678, 9]
digit_sum_list = [sum(int(digit) for digit in str(num)) for num in num_list]
print("Sum of digits for each number:", digit_sum_list)

Sum of digits for each number: [6, 9, 21, 9]

In [ ]:
# Q22: Find prime factors of a given number using a `for` loop and list comprehension
def prime_factors(n):
    factors = []
    for i in range(2, n + 1):
        while n % i == 0:
            factors.append(i)
            n //= i
    return factors

number = 36
factors = prime_factors(number)
print("Prime factors of", number, "are:", factors)

Prime factors of 36 are: [2, 2, 3, 3]

In [ ]:
# Q23: Extract unique elements from a list using list comprehension
original_list = [1, 2, 2, 3, 4, 4, 5, 6]
unique_list = [x for i, x in enumerate(original_list) if x not in original_list[:i]]
print("Unique elements in the list:", unique_list)

Unique elements in the list: [1, 2, 3, 4, 5, 6]

In [ ]:
# Q24: Generate a list of all palindromic numbers up to a specified limit using list comprehension
limit = 100
palindromic_numbers = [num for num in range(1, limit + 1) if str(num) == str(num)[::-1]]
print("Palindromic numbers up to", limit, "are:", palindromic_numbers)

Palindromic numbers up to 100 are: [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

In [ ]:
# Q25: Flatten a nested list using list comprehension
nested_list = [[1, 2], [3, 4], [5, 6]]
flattened_list = [item for sublist in nested_list for item in sublist]
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6]

In [ ]:
# Q26: Compute the sum of even and odd numbers in a list separately using list comprehension
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
sum_even = sum(x for x in numbers if x % 2 == 0)
sum_odd = sum(x for x in numbers if x % 2 != 0)
print("Sum of even numbers:", sum_even)
print("Sum of odd numbers:", sum_odd)

Sum of even numbers: 20
Sum of odd numbers: 25

In [ ]:
# Q27: Generate a list of squares of odd numbers between 1 and 10 using list comprehension
squares_of_odd = [x**2 for x in range(1, 11) if x % 2 != 0]
print("Squares of odd numbers:", squares_of_odd)

Squares of odd numbers: [1, 9, 25, 49, 81]

In [ ]:
# Q28: Combine two lists into a dictionary using list comprehension
keys = ['a', 'b', 'c']
values = [1, 2, 3]
combined_dict = {k: v for k, v in zip(keys, values)}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3}

In [ ]:
# Q29: Extract vowels from a string and store them in a list using list comprehension
input_string = "Hello, World!"
vowels = "AEIOUaeiou"
vowel_list = [char for char in input_string if char in vowels]
print("Vowels in the string:", vowel_list)

Vowels in the string: ['e', 'o', 'o']

In [ ]:
# Q30: Remove non-numeric characters from a list of strings using list comprehension
string_list = ["abc123", "def456", "789xyz"]
numeric_list = [''.join(filter(str.isdigit, s)) for s in string_list]
print("Numeric characters in each string:", numeric_list)

Numeric characters in each string: ['123', '456', '789']

In [ ]:
# Q31: Generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list comprehension
import math

def sieve_of_eratosthenes(limit):
    sieve = [True] * (limit + 1)
    sieve[0] = sieve[1] = False
    for current in range(2, int(math.sqrt(limit)) + 1):
        if sieve[current]:
            for multiple in range(current * current, limit + 1, current):
                sieve[multiple] = False
    return [num for num in range(2, limit + 1) if sieve[num]]

prime_list = sieve_of_eratosthenes(100)
print("Prime numbers up to 100:", prime_list)

Prime numbers up to 100: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
# Q32: Generate a list of all Pythagorean triplets up to a specified limit using list comprehension
limit = 20
pythagorean_triplets = [(a, b, c) for a in range(1, limit + 1) for b in range(a, limit + 1) for c in range(b, limit + 1) if a**2 + b**2 == c**2]
print("Pythagorean triplets up to", limit, "are:", pythagorean_triplets)

Pythagorean triplets up to 20 are: [(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]

In [ ]:
# Q33: Generate a list of all possible combinations of two lists using list comprehension
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
combinations = [(x, y) for x in list1 for y in list2]
print("Combinations of two lists:", combinations)

Combinations of two lists: [(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [ ]:
# Q34: Calculate the mean, median, and mode of a list of numbers using list comprehension
from statistics import mean, median, mode

numbers = [1, 2, 2, 3, 4, 4, 5, 6]
mean_value = mean(numbers)
median_value = median(numbers)
mode_value = mode(numbers)
print("Mean:", mean_value)
print("Median:", median_value)
print("Mode:", mode_value)

Mean: 3.375
Median: 3.5
Mode: 2

In [ ]:
# Q35: Generate Pascal's triangle up to a specified number of rows using list comprehension
def generate_pascals_triangle(num_rows):
    triangle = [[1]]
    for i in range(1, num_rows):
        row = [1]
        for j in range(1, i):
            row.append(triangle[i - 1][j - 1] + triangle[i - 1][j])
        row.append(1)
        triangle.append(row)
    return triangle

num_rows = 5
pascals_triangle = generate_pascals_triangle(num_rows)
print("Pascal's triangle with", num_rows, "rows:")
for row in pascals_triangle:
    print(row)

Pascal's triangle with 5 rows:
[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

In [ ]:
# Q36: Calculate the sum of the digits of factorial of numbers from 1 to 5 using list comprehension
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

sum_of_digits = [sum(int(digit) for digit in str(factorial(num))) for num in range(1, 6)]
print("Sum of digits of factorial of numbers 1 to 5:", sum_of_digits)

Sum of digits of factorial of numbers 1 to 5: [1, 2, 6, 6, 3]

In [ ]:
# Q37: Find the longest word in a sentence using list comprehension
sentence = "This is a sample sentence to find the longest word"
words = sentence.split()
longest_word = max(words, key=len)
print("Longest word in the sentence:", longest_word)

Longest word in the sentence: sentence

In [ ]:
# Q38: Filter a list of strings to include only those with more than three vowels using list comprehension
string_list = ["hello", "world", "education", "programming", "python"]
vowels = "AEIOUaeiou"
filtered_list = [word for word in string_list if sum(1 for char in word if char in vowels) > 3]
print("Words with more than three vowels:", filtered_list)

Words with more than three vowels: ['education']

In [ ]:
# Q39: Calculate the sum of the digits of numbers from 1 to 1000 using list comprehension
sum_of_digits = [sum(int(digit) for digit in str(num)) for num in range(1, 1001)]
print("Sum of digits of numbers from 1 to 1000:", sum_of_digits)

Sum of digits of numbers from 1 to 1000: [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 1]

In [ ]:
# Q40: Generate a list of prime palindromic numbers using list comprehension
def is_palindrome(number):
    return str(number) == str(number)[::-1]

prime_palindromes = [num for num in prime_list if is_palindrome(num)]
print("Prime palindromic numbers:", prime_palindromes)

Prime palindromic numbers: [2, 3, 5, 7, 11]